{% load static %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-type" content="application/x-www-form-urlencoded; charset=UTF-8"/>

        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        {% block meta %}{% endblock %}

        <link rel="stylesheet" href="{% static 'styles/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'styles/css/main.css' %}">

        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    {% block scripts %}{% endblock %}
</html>
